@page
@model WebApp.Pages.Config

<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>PICK A CONFIG</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConfigurationName" class="control-label"></label>
                <select asp-for="ConfigurationName" class="form-select" asp-items="Model.ConfigSelectList"></select>
            </div>
            <div class="form-group">
                <input type="text" asp-for="SaveName" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="submit" value="GO" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
