@page
@model WebApp.Pages.ConfigManager

@{
    ViewData["Title"] = "Configurations";
}

<div class="container-fluid p-5 bg-primary text-white text-center" id="header">
    <h1>PICK A THING</h1>
</div>

<a asp-page="/Index" class="btn btn-light">Go back</a>

<div class="wrapper">
    <form method="post" class="form-base regular-form">
        <div class="form-group">
            <button type="submit" name="action" value="new" class="submit-button">NEW</button>
        </div>
        <div class="form-group">
            <button type="submit" name="action" value="view" class="submit-button">VIEW</button>
        </div>
        <div class="form-group">
            <button type="submit" name="action" value="delete" class="submit-button">DELETE</button>
        </div>
    </form>
</div>