@page
@model WebApp.Pages.Config

@{
    ViewData["Title"] = "Configuration";
}

<div class="container-fluid p-5 bg-primary text-white text-center" id="header" xmlns="http://www.w3.org/1999/html">
    <h1>PICK A CONFIG</h1>
</div>

<div class="wrapper">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div> <!--todo: see ei toota-->
            <div class="form-group">
                <select asp-for="ConfigurationName" class="form-select" asp-items="Model.ConfigSelectList"></select>
            </div>
            <div class="message">Name your game:</div>
            <div class="form-group">
                
                <input type="text" asp-for="SaveName" class="form-control"/>
            </div>
            <div class="form-group">
                <button type="submit" class="submit-button">START</button>
            </div>
        </form>
</div>
