@page
@model WebApp.Pages.JoinGame

<div class="container-fluid p-3 text-white text-center"
     id="header">
    @if (@Model.Error == null)
    {
        <h1>PICK A GAME TO JOIN</h1>
    }
    else
    {
        <h1>@Model.Error</h1>
    }
</div>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="message">Join a game:</div>
            <div>
                <select asp-for="GameName" class="form-select" asp-items="Model.GameSelectList"></select>
            </div>
            <button type="submit" class="submit-button">JOIN</button>
        </form>
    </div>
</div>