@page
@model WebApp.Pages.JoinGame


@{
    ViewData["Title"] = "Join a game";
}

<div class="container-fluid p-5 bg-primary text-white text-center h-50"
     id="header">
    @if (@Model.Error == null)
    {
        <h1>PICK A GAME TO JOIN</h1>
    }
    else
    {
        <h1>@Model.Error</h1>
    }
</div>

<a asp-page="/StartGame"
   asp-route-username="@Model.UserName"
   asp-route-gamemode="@Model.GameMode" class="btn btn-light">Go back
</a>

<div class="wrapper">
        <form method="post" class="form-base regular-form">
            <div>
                <select asp-for="GameName" class="form-select" asp-items="Model.GameSelectList"></select>
            </div>
            <button type="submit" class="submit-button">JOIN</button>
        </form>
</div>