@page
@model WebApp.Pages.PlayGame

<div class="container-fluid p-3 text-white text-center"
     style="background: linear-gradient(to bottom, pink, lightpink);">
    <h1>PLAY!</h1>
</div>

<div class="board">
    @for (int i = 0; i < Model.Board.GetLength(0); i++)
    {
        @for (int j = 0; j < Model.Board.GetLength(1); j++) 
        {
            <div class="square" id="square">
                @if (@Model.Board[i, j] != '\0')
                {
                <div>@Model.Board[i, j]</div>
                }
                else
                {
                    <div>   </div>
                }
            </div>
        }
    }
</div>

