@page
@model WebApp.Pages.StartGame

@{
    ViewData["Title"] = "Game settings";
}

<div class="container-fluid p-5 bg-primary text-white text-center" id="header">
    <h1>PICK A THING</h1>
</div>

<a asp-page="/Username"
   asp-route-gamemode="@Model.GameMode" class="btn btn-light">Go back
</a>


<div class="wrapper">
    <form method="post" class="form-base regular-form">
        <div class="form-group">
            <button type="submit" name="action" value="new" class="submit-button">NEW</button>
        </div>
        @if (Model.GameMode != "Bots")
        {
            <div class="form-group">
                <button type="submit" name="action" value="saved" class="submit-button">CONTINUE</button>
            </div>
        }
        @if (@Model.GameMode == "Multiplayer")
        {
            <div class="form-group">
                <button type="submit" name="action" value="join" class="submit-button">JOIN</button>
            </div>
        }
    </form>
</div>