@page
@model WebApp.Pages.StartGame

@{
    ViewData["Title"] = "Game settings";
}

<div class="container-fluid p-5 bg-primary text-white text-center" id="header">
    <h1>PICK A THING</h1>
</div>

<div class="wrapper">
    <form method="post">
        <div class="form-group">
            <button type="submit" name="action" value="new" class="submit-button">New game</button>
        </div>
        <div class="form-group">
            <button type="submit" name="action" value="saved" class="submit-button">Saved game</button>
        </div>
        <div class="form-group">
            <button type="submit" name="action" value="join" class="submit-button">Join game</button>
        </div>
    </form>
</div>